<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lh.foractivity">

    <permission
        android:name="com.lh.foractivity.PRIVATE"
        android:label="can read write"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.lh.test" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.lh.receiver" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".MyContentprovider"
            android:authorities="com.lh.foractivity.provider"
            android:exported="true"
            android:permission="com.lh.foractivity.PRIVATE" />
        <service
            android:name=".service.MyAidlService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lb.aidlservice" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>

    </application>

</manifest>